canvas {
    margin-bottom: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
}
.control{
    width: 612px;
    position: relative;
    left: calc(50% - 306px);
}